In [1]:
import pandas as pd

In [ ]:
data = {
    'location': {1085: 'unknown', 1086: 'Lokerenpassage, 18', 1087: 'unknown', 1088: 'Mheer, Trichterweg'},
    'location_id': {1085: -1, 1086: 2, 1087: -1, 1088: 10},
    'begin_time': {1085: pd.Timestamp('2023-07-20 17:28:16.364000'),
                   1086: pd.Timestamp('2023-07-20 17:40:28.441000'),
                   1087: pd.Timestamp('2023-07-21 10:11:33.965000'),
                   1088: pd.Timestamp('2023-07-21 12:39:29.475000')},
    'end_time': {1085: pd.Timestamp('2023-07-20 17:40:27.441000'),
                 1086: pd.Timestamp('2023-07-21 10:11:32.965000'),
                 1087: pd.Timestamp('2023-07-21 12:39:28.475000'),
                 1088: pd.Timestamp('2023-07-23 10:51:03.463000')}
}

df = pd.DataFrame(data)
df = df.set_index("begin_time")

In [ ]:
# Create a new DataFrame with a continuous time range covering the desired period
new_start_time = df.index.min()
new_end_time = df['end_time'].max()
time_range = pd.date_range(start=new_start_time, end=new_end_time, freq='10T')

# Merge the original DataFrame with the continuous time range using merge_asof
resampled_df = pd.merge_asof(pd.DataFrame(index=time_range), df.reset_index(), left_index=True, right_on='begin_time', direction='backward')

# Forward-fill the location column
resampled_df['location'] = resampled_df['location'].ffill()

# Set the resampled DataFrame index back to 'begin_time'
resampled_df.set_index('begin_time', inplace=True)

resampled_df = pd.merge_asof(pd.DataFrame(index=time_range), df.reset_index(), left_index=True, right_on='begin_time', direction='backward')

df = (
        resampled_df.reset_index()
        .drop(["begin_time", "location_id", "end_time"], axis=1)
        .rename(columns={"index": "time"})
        .dropna(axis=0)
    )

In [ ]:
df

In [ ]:
df

In [ ]:
import DataLoader as DL
import DataTransformer as DT
from LoadRoutinedData import RDData
import pandas as pd

# Initialize parameters.
data_source = "routined"  # Can be either 'google_maps' or 'routined'.
# HOURS_OFFSET is used to offset the timestamps to account for timezone differences. For google maps, timestamp comes in GMT+0
# which means that we need to offset it by 2 hours to make it GMT+2 (Dutch timezone). Value must be INT!
hours_offset = 2
# BEGIN_DATE and END_DATE are used to filter the data for your analysis.
begin_date = "2023-05-10"
end_date = "2023-07-24"  # End date is EXclusive!
# FRACTION is used to make the DataFrame smaller. Final df = df * fraction. This solves memory issues, but a value of 1 is preferred.
fraction = 1
# For the heatmap visualization we specify a separate BEGIN_DAY and END_DAY (must be between BEGIN_DATE and END_DATE).
# For readiness purposes, it it suggested to select between 2 and 14 days.
heatmap_begin_date = "2023-07-10"
heatmap_end_date = "2023-07-20"  # End date is INclusive!

In [ ]:
from pandas import Timestamp

data = {'location': {1085: 'unknown',
      1086: ' Lokerenpassage, 18',
      1087: 'unknown',
      1088: ' Mheer, Trichterweg'},
     'location_id': {1085: -1, 1086: 2, 1087: -1, 1088: 10},
     'begin_time': {1085: Timestamp('2023-07-20 17:28:16.364000'),
      1086: Timestamp('2023-07-20 17:40:28.441000'),
      1087: Timestamp('2023-07-21 10:11:33.965000'),
      1088: Timestamp('2023-07-21 12:39:29.475000')},
     'end_time': {1085: Timestamp('2023-07-20 17:40:27.441000'),
      1086: Timestamp('2023-07-21 10:11:32.965000'),
      1087: Timestamp('2023-07-21 12:39:28.475000'),
      1088: Timestamp('2023-07-23 10:51:03.463000')}}

df = pd.DataFrame(data)
df = df.set_index("begin_time")
df = df.resample("10T").ffill()

In [ ]:
df

In [20]:
df = pd.read_excel("output/start_end_time_df.xlsx", index_col=[0])

In [21]:
df = df.set_index('begin_time')

In [22]:
# Create a new DataFrame with a continuous time range covering the desired period
new_start_time = df.index.min()
new_end_time = df['end_time'].max()
time_range = pd.date_range(start=new_start_time, end=new_end_time, freq='10T')

# Merge the original DataFrame with the continuous time range using merge_asof
resampled_df = pd.merge_asof(pd.DataFrame(index=time_range), df.reset_index(), left_index=True, right_on='begin_time', direction='backward')

In [23]:
resampled_df

,begin_time,location,location_id,end_time
2023-05-05 00:06:12.767,2023-05-05 00:06:12.767,"Bronsteeweg, 14G",0,2023-05-06 10:57:37.507
2023-05-05 00:16:12.767,2023-05-05 00:06:12.767,"Bronsteeweg, 14G",0,2023-05-06 10:57:37.507
2023-05-05 00:26:12.767,2023-05-05 00:06:12.767,"Bronsteeweg, 14G",0,2023-05-06 10:57:37.507
2023-05-05 00:36:12.767,2023-05-05 00:06:12.767,"Bronsteeweg, 14G",0,2023-05-06 10:57:37.507
2023-05-05 00:46:12.767,2023-05-05 00:06:12.767,"Bronsteeweg, 14G",0,2023-05-06 10:57:37.507
...,...,...,...,...
2023-07-25 10:26:12.767,2023-07-24 21:50:04.940,"Lokerenpassage, 18",2,2023-07-25 11:14:49.613
2023-07-25 10:36:12.767,2023-07-24 21:50:04.940,"Lokerenpassage, 18",2,2023-07-25 11:14:49.613
2023-07-25 10:46:12.767,2023-07-24 21:50:04.940,"Lokerenpassage, 18",2,2023-07-25 11:14:49.613
2023-07-25 10:56:12.767,2023-07-24 21:50:04.940,"Lokerenpassage, 18",2,2023-07-25 11:14:49.613
2023-07-25 11:06:12.767,2023-07-24 21:50:04.940,"Lokerenpassage, 18",2,2023-07-25 11:14:49.613

In [24]:
df = (
        resampled_df.reset_index()
        .drop(["begin_time", "location_id", "end_time"], axis=1)
        .rename(columns={"index": "time"})
        .dropna(axis=0)
    )

In [25]:
df

                         time             location
0     2023-05-05 00:06:12.767     Bronsteeweg, 14G
1     2023-05-05 00:16:12.767     Bronsteeweg, 14G
2     2023-05-05 00:26:12.767     Bronsteeweg, 14G
3     2023-05-05 00:36:12.767     Bronsteeweg, 14G
4     2023-05-05 00:46:12.767     Bronsteeweg, 14G
...                       ...                  ...
11726 2023-07-25 10:26:12.767   Lokerenpassage, 18
11727 2023-07-25 10:36:12.767   Lokerenpassage, 18
11728 2023-07-25 10:46:12.767   Lokerenpassage, 18
11729 2023-07-25 10:56:12.767   Lokerenpassage, 18
11730 2023-07-25 11:06:12.767   Lokerenpassage, 18

[11731 rows x 2 columns]

In [ ]:

# Forward-fill the location column
resampled_df['location'] = resampled_df['location'].ffill()

# Set the resampled DataFrame index back to 'begin_time'
resampled_df.set_index('begin_time', inplace=True)

resampled_df = pd.merge_asof(pd.DataFrame(index=time_range), df.reset_index(), left_index=True, right_on='begin_time', direction='backward')

In [19]:
resampled_df

,location,location_id,end_time
begin_time,,,
2023-05-05 00:06:12.767,"Bronsteeweg, 14G",0,2023-05-06 10:57:37.507
2023-05-05 00:06:12.767,"Bronsteeweg, 14G",0,2023-05-06 10:57:37.507
2023-05-05 00:06:12.767,"Bronsteeweg, 14G",0,2023-05-06 10:57:37.507
2023-05-05 00:06:12.767,"Bronsteeweg, 14G",0,2023-05-06 10:57:37.507
2023-05-05 00:06:12.767,"Bronsteeweg, 14G",0,2023-05-06 10:57:37.507
...,...,...,...
2023-07-24 21:50:04.940,"Lokerenpassage, 18",2,2023-07-25 11:14:49.613
2023-07-24 21:50:04.940,"Lokerenpassage, 18",2,2023-07-25 11:14:49.613
2023-07-24 21:50:04.940,"Lokerenpassage, 18",2,2023-07-25 11:14:49.613
2023-07-24 21:50:04.940,"Lokerenpassage, 18",2,2023-07-25 11:14:49.613
2023-07-24 21:50:04.940,"Lokerenpassage, 18",2,2023-07-25 11:14:49.613

In [ ]:
df = (
        resampled_df.reset_index()
        .drop(["begin_time", "location_id", "end_time"], axis=1)
        .rename(columns={"index": "time"})
        .dropna(axis=0)
    )

In [15]:
resampled_df.reset_index().drop(["begin_time", "location_id", "end_time"], axis=1).rename(columns={"index": "time"})

                         time             location
0     2023-05-05 00:06:12.767     Bronsteeweg, 14G
1     2023-05-05 00:16:12.767     Bronsteeweg, 14G
2     2023-05-05 00:26:12.767     Bronsteeweg, 14G
3     2023-05-05 00:36:12.767     Bronsteeweg, 14G
4     2023-05-05 00:46:12.767     Bronsteeweg, 14G
...                       ...                  ...
11726 2023-07-25 10:26:12.767   Lokerenpassage, 18
11727 2023-07-25 10:36:12.767   Lokerenpassage, 18
11728 2023-07-25 10:46:12.767   Lokerenpassage, 18
11729 2023-07-25 10:56:12.767   Lokerenpassage, 18
11730 2023-07-25 11:06:12.767   Lokerenpassage, 18

[11731 rows x 2 columns]

In [29]:
import pandas as pd

data = {
    'location': {1085: 'unknown', 1086: 'Lokerenpassage, 18', 1087: 'unknown', 1088: 'Mheer, Trichterweg'},
    'location_id': {1085: -1, 1086: 2, 1087: -1, 1088: 10},
    'begin_time': {1085: pd.Timestamp('2023-07-20 17:28:16.364000'),
                   1086: pd.Timestamp('2023-07-20 17:40:28.441000'),
                   1087: pd.Timestamp('2023-07-21 10:11:33.965000'),
                   1088: pd.Timestamp('2023-07-21 12:39:29.475000')},
    'end_time': {1085: pd.Timestamp('2023-07-20 17:40:27.441000'),
                 1086: pd.Timestamp('2023-07-21 10:11:32.965000'),
                 1087: pd.Timestamp('2023-07-21 12:39:28.475000'),
                 1088: pd.Timestamp('2023-07-23 10:51:03.463000')}
}

df = pd.DataFrame(data)
df = df.set_index("begin_time")

# Create a new DataFrame with a continuous time range covering the desired period
new_start_time = df.index.min().normalize()
new_end_time = df['end_time'].max().normalize() + pd.Timedelta(days=1) - pd.Timedelta(seconds=1)
time_range = pd.date_range(start=new_start_time, end=new_end_time, freq='10T')

# Merge the original DataFrame with the continuous time range using merge_asof
resampled_df = pd.merge_asof(pd.DataFrame(index=time_range), df.reset_index(), left_index=True, right_on='begin_time', direction='backward')

df2 = (
    resampled_df.reset_index()
    .drop(["begin_time", "location_id", "end_time"], axis=1)
    .rename(columns={"index": "time"})
    .dropna(axis=0)
)

In [30]:
df

,location,location_id,end_time
begin_time,,,
2023-07-20 17:28:16.364,unknown,-1,2023-07-20 17:40:27.441
2023-07-20 17:40:28.441,"Lokerenpassage, 18",2,2023-07-21 10:11:32.965
2023-07-21 10:11:33.965,unknown,-1,2023-07-21 12:39:28.475
2023-07-21 12:39:29.475,"Mheer, Trichterweg",10,2023-07-23 10:51:03.463

In [31]:
df2

                   time            location
105 2023-07-20 17:30:00             unknown
106 2023-07-20 17:40:00             unknown
107 2023-07-20 17:50:00  Lokerenpassage, 18
108 2023-07-20 18:00:00  Lokerenpassage, 18
109 2023-07-20 18:10:00  Lokerenpassage, 18
..                  ...                 ...
571 2023-07-23 23:10:00  Mheer, Trichterweg
572 2023-07-23 23:20:00  Mheer, Trichterweg
573 2023-07-23 23:30:00  Mheer, Trichterweg
574 2023-07-23 23:40:00  Mheer, Trichterweg
575 2023-07-23 23:50:00  Mheer, Trichterweg

[471 rows x 2 columns]