In [93]:
import pandas as pd
import datetime
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report
from collections import Counter

In [98]:
model_date_start=pd.to_datetime("2023-06-20 00:00:00")  #  + pd.Timedelta(hours=5)
model_date_end=pd.to_datetime("2023-07-24 23:50:00")
days_test = 2

In [99]:
df = pd.read_excel(
    "output/resampled_df_10_min.xlsx", index_col=[0]
)

In [100]:
df = df[df['time'].between(model_date_start, model_date_end)]

In [101]:
df["weekday"] = df["time"].dt.dayofweek
df["hour"] = df["time"].dt.hour
df["day"] = df["time"].dt.day

In [102]:
df

                     time             location  weekday  hour  day
6624  2023-06-20 00:00:00   Lokerenpassage, 18        1     0   20
6625  2023-06-20 00:10:00   Lokerenpassage, 18        1     0   20
6626  2023-06-20 00:20:00   Lokerenpassage, 18        1     0   20
6627  2023-06-20 00:30:00   Lokerenpassage, 18        1     0   20
6628  2023-06-20 00:40:00   Lokerenpassage, 18        1     0   20
...                   ...                  ...      ...   ...  ...
11659 2023-07-24 23:10:00   Lokerenpassage, 18        0    23   24
11660 2023-07-24 23:20:00   Lokerenpassage, 18        0    23   24
11661 2023-07-24 23:30:00   Lokerenpassage, 18        0    23   24
11662 2023-07-24 23:40:00   Lokerenpassage, 18        0    23   24
11663 2023-07-24 23:50:00   Lokerenpassage, 18        0    23   24

[5040 rows x 5 columns]

In [103]:
le = preprocessing.LabelEncoder()
df.location = le.fit_transform(df.location)

In [104]:
train_start_date = model_date_start
train_end_date = model_date_end - pd.Timedelta(days=days_test)
test_start_date = model_date_end - pd.Timedelta(days=days_test) + pd.Timedelta(minutes=10)
test_end_date = model_date_end

# Create masks to filter the data based on dates
train_mask = (df['time'].between(train_start_date, train_end_date))
test_mask = (df['time'].between(test_start_date, test_end_date))

# # Split the data into train and test sets
X_train = df.loc[train_mask, ["weekday", "hour", "day"]]
y_train = df.loc[train_mask, "location"]
X_test = df.loc[test_mask, ["weekday", "hour", "day"]]
y_test = df.loc[test_mask, "location"]

In [105]:
X_train

       weekday  hour  day
6624         1     0   20
6625         1     0   20
6626         1     0   20
6627         1     0   20
6628         1     0   20
...        ...   ...  ...
10651        0    23   17
10652        0    23   17
10653        0    23   17
10654        0    23   17
10655        0    23   17

[4032 rows x 3 columns]

In [106]:
model = RandomForestClassifier()
model.fit(X_train, y_train)
predictions = model.predict(X_test)

In [107]:
predictions

array([5, 5, 5, ..., 5, 5, 5])

In [108]:
model_accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (model_accuracy * 100.0))

Accuracy: 55.75%

In [109]:
import warnings
warnings.filterwarnings('always')  # "error", "ignore", "always", "default", "module" or "once"

class_report = classification_report(y_test, predictions)
print(f"Classification report: \n{class_report}")

Classification report:
              precision    recall  f1-score   support

           0       0.00      0.00      0.00         0
           1       0.00      0.00      0.00        34
           5       0.64      0.94      0.76       594
           6       0.00      0.00      0.00       278
           7       0.12      0.10      0.11        30
           9       0.00      0.00      0.00        72

    accuracy                           0.56      1008
   macro avg       0.13      0.17      0.15      1008
weighted avg       0.38      0.56      0.45      1008

C:\Users\Sander\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Sander\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Sander\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Sander\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Sander\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\Sander\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1344: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))