In [1]:
import pandas as pd

In [ ]:
data = {
    'location': {1085: 'unknown', 1086: 'Lokerenpassage, 18', 1087: 'unknown', 1088: 'Mheer, Trichterweg'},
    'location_id': {1085: -1, 1086: 2, 1087: -1, 1088: 10},
    'begin_time': {1085: pd.Timestamp('2023-07-20 17:28:16.364000'),
                   1086: pd.Timestamp('2023-07-20 17:40:28.441000'),
                   1087: pd.Timestamp('2023-07-21 10:11:33.965000'),
                   1088: pd.Timestamp('2023-07-21 12:39:29.475000')},
    'end_time': {1085: pd.Timestamp('2023-07-20 17:40:27.441000'),
                 1086: pd.Timestamp('2023-07-21 10:11:32.965000'),
                 1087: pd.Timestamp('2023-07-21 12:39:28.475000'),
                 1088: pd.Timestamp('2023-07-23 10:51:03.463000')}
}

df = pd.DataFrame(data)
df = df.set_index("begin_time")

In [ ]:
# Create a new DataFrame with a continuous time range covering the desired period
new_start_time = df.index.min()
new_end_time = df['end_time'].max()
time_range = pd.date_range(start=new_start_time, end=new_end_time, freq='10T')

# Merge the original DataFrame with the continuous time range using merge_asof
resampled_df = pd.merge_asof(pd.DataFrame(index=time_range), df.reset_index(), left_index=True, right_on='begin_time', direction='backward')

# Forward-fill the location column
resampled_df['location'] = resampled_df['location'].ffill()

# Set the resampled DataFrame index back to 'begin_time'
resampled_df.set_index('begin_time', inplace=True)

resampled_df = pd.merge_asof(pd.DataFrame(index=time_range), df.reset_index(), left_index=True, right_on='begin_time', direction='backward')

df = (
        resampled_df.reset_index()
        .drop(["begin_time", "location_id", "end_time"], axis=1)
        .rename(columns={"index": "time"})
        .dropna(axis=0)
    )

In [ ]:
df

In [ ]:
df

In [ ]:
import DataLoader as DL
import DataTransformer as DT
from LoadRoutinedData import RDData
import pandas as pd

# Initialize parameters.
data_source = "routined"  # Can be either 'google_maps' or 'routined'.
# HOURS_OFFSET is used to offset the timestamps to account for timezone differences. For google maps, timestamp comes in GMT+0
# which means that we need to offset it by 2 hours to make it GMT+2 (Dutch timezone). Value must be INT!
hours_offset = 2
# BEGIN_DATE and END_DATE are used to filter the data for your analysis.
begin_date = "2023-05-10"
end_date = "2023-07-24"  # End date is EXclusive!
# FRACTION is used to make the DataFrame smaller. Final df = df * fraction. This solves memory issues, but a value of 1 is preferred.
fraction = 1
# For the heatmap visualization we specify a separate BEGIN_DAY and END_DAY (must be between BEGIN_DATE and END_DATE).
# For readiness purposes, it it suggested to select between 2 and 14 days.
heatmap_begin_date = "2023-07-10"
heatmap_end_date = "2023-07-20"  # End date is INclusive!

In [ ]:
from pandas import Timestamp

data = {'location': {1085: 'unknown',
      1086: ' Lokerenpassage, 18',
      1087: 'unknown',
      1088: ' Mheer, Trichterweg'},
     'location_id': {1085: -1, 1086: 2, 1087: -1, 1088: 10},
     'begin_time': {1085: Timestamp('2023-07-20 17:28:16.364000'),
      1086: Timestamp('2023-07-20 17:40:28.441000'),
      1087: Timestamp('2023-07-21 10:11:33.965000'),
      1088: Timestamp('2023-07-21 12:39:29.475000')},
     'end_time': {1085: Timestamp('2023-07-20 17:40:27.441000'),
      1086: Timestamp('2023-07-21 10:11:32.965000'),
      1087: Timestamp('2023-07-21 12:39:28.475000'),
      1088: Timestamp('2023-07-23 10:51:03.463000')}}

df = pd.DataFrame(data)
df = df.set_index("begin_time")
df = df.resample("10T").ffill()

In [ ]:
df

In [2]:
df = pd.read_excel("output/start_end_time_df.xlsx", index_col=[0])

In [3]:
df = df.set_index('begin_time')

In [4]:
# Create a new DataFrame with a continuous time range covering the desired period
new_start_time = df.index.min()
new_end_time = df['end_time'].max()
time_range = pd.date_range(start=new_start_time, end=new_end_time, freq='10T')

# Merge the original DataFrame with the continuous time range using merge_asof
resampled_df = pd.merge_asof(pd.DataFrame(index=time_range), df.reset_index(), left_index=True, right_on='begin_time', direction='backward')

# Forward-fill the location column
resampled_df['location'] = resampled_df['location'].ffill()

# Set the resampled DataFrame index back to 'begin_time'
resampled_df.set_index('begin_time', inplace=True)

# resampled_df = pd.merge_asof(pd.DataFrame(index=time_range), df.reset_index(), left_index=True, right_on='begin_time', direction='backward')

df = (
        resampled_df.reset_index()
        .drop(["begin_time", "location_id", "end_time"], axis=1)
        .rename(columns={"index": "time"})
        .dropna(axis=0)
    )

In [5]:
df

                         time             location
0     2023-05-05 00:06:12.767     Bronsteeweg, 14G
1     2023-05-05 00:16:12.767     Bronsteeweg, 14G
2     2023-05-05 00:26:12.767     Bronsteeweg, 14G
3     2023-05-05 00:36:12.767     Bronsteeweg, 14G
4     2023-05-05 00:46:12.767     Bronsteeweg, 14G
...                       ...                  ...
11726 2023-07-25 10:26:12.767   Lokerenpassage, 18
11727 2023-07-25 10:36:12.767   Lokerenpassage, 18
11728 2023-07-25 10:46:12.767   Lokerenpassage, 18
11729 2023-07-25 10:56:12.767   Lokerenpassage, 18
11730 2023-07-25 11:06:12.767   Lokerenpassage, 18

[11731 rows x 2 columns]